body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    margin: 16px 0;
}

.col {
    flex-grow: 1;
    font-style: 0;
    width: 50%;
    padding: 0 16px;
}

.section {
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 1.33em 0;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.code {
    overflow: auto;
    padding: 16px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #eee;
}

.section.event {
    border-bottom: none;
}

.sectionBody {
    overflow: auto;
}

.section.event .sectionBody {
    max-height: 400px;
}

.eventRow {
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.m0 {
    margin: 0;
}

.label {
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: auto;
    }
}
