body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    margin: 16px 0;
}

.col {
    flex-grow: 1;
    font-style: 0;
    width: 50%;
    padding: 0 16px;
}

.section {
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

h4 {
    text-align: center;
}

.code {
    overflow: auto;
    padding: 16px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #eee;
}

@media screen and (max-width: 1200px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: auto;
    }
}
